<div ng-controller='QAController as C'>

  <div ng-init="C.getPolls()"></div>
  <div ng-if="C.polls">
    <div>
      Welcome {{C.user.name}}
      <button ng-click='C.newPoll()' class="btn btn-primary">Add Poll</button>
      <button ng-click='C.logout()' class="btn btn-primary">Logout</button>
    </div>
    <div>
      Search
      <input type="test" ng-model="filter.question">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>survey question</th>
          <th>date added</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="poll in C.polls| filter: filter">
          <td>{{ poll._user.name }}
            <a ng-href="#/polls/{{ poll._id }}">show</a>
          </td>
          <td>{{ poll.question }}</td>
          <td>{{ poll.created_at | date }}</td>
          <td>
            <div ng-if="poll._user._id == C.user.id">
              <button ng-click="C.deletePoll(poll._id)" class="btn btn-primary">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
