
<div ng-controller='QAController as C'>

  <div ng-init="C.getPoll()"></div>
  <div ng-if="C.poll">

    <div>
      <div>
        Welcome {{C.user.name}}
        <button ng-click="C.index()" class="btn btn-primary">Home</button>
        <button ng-click='C.logout()' class="btn btn-primary">Logout</button>
      </div>
      <div>By: <strong>{{C.poll._user.name}}</strong></div>
      <div>Question:<blockquote>{{C.poll.question}}</blockquote></div>
      <table class="table">
        <thead>
          <tr>
            <th>Option</th>
            <th>Current Count of Votes</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ C.poll.option1.option }}</td>
            <td>{{ C.poll.option1.vote }}</td>
            <td><button ng-click="C.vote(C.poll.option1)">Vote</button></td>
          </tr>
          <tr>
            <td>{{ C.poll.option2.option }}</td>
            <td>{{ C.poll.option2.vote }}</td>
            <td><button ng-click="C.vote(C.poll.option2)">Vote</button></td>
          </tr>
          <tr>
            <td>{{ C.poll.option3.option }}</td>
            <td>{{ C.poll.option3.vote }}</td>
            <td><button ng-click="C.vote(C.poll.option3)">Vote</button></td>
          </tr>
          <tr>
            <td>{{ C.poll.option4.option }}</td>
            <td>{{ C.poll.option4.vote }}</td>
            <td><button ng-click="C.vote(C.poll.option4)">Vote</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
